<main class="container mx-auto p-2 w-75 p-3">
    <div class="row">

        <div class="table-responsive" *ngIf="this.repository.listReady == true">
            <div class="container">
                <h3>QA</h3>
            </div>
            <table class="table table-bordered table-striped table-hover" *ngFor="let query of questionList">
                <!-- Header Row-->

                <tr>
                    <td class="text-left"> {{ query.questionText }} </td>
                </tr>
                <tr *ngIf="this.query.isAnswered == true">
                    <td class="text-left">Answer: {{ query.answer }}</td>
                </tr>
                <tr *ngIf="this.query.isAnswered == false">
                    <td class="text-left">
                        <div class="input-group mb-3">
                            <form novalidate #form="ngForm" (ngSubmit)="save(form, this.query)">
                                <input [(ngModel)]="query.answer" name="answer" class="form-control"
                                    placeholder="Type your answer here" aria-label="Type your answer"
                                    aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Post</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
            <!-- <div class="input-group mb-3">
                <form novalidate #form="ngForm" (ngSubmit)="save(form)">
                    <input [(ngModel)]="query.questionText" name="questionText" class="form-control"
                        placeholder="Post a question here" aria-label="Post a question!"
                        aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Post</button>
                </form>
            </div> -->
        </div>
    </div>
</main>