<app-header [title]="title"></app-header>


  <main class="container">
    <div class="row">
        <h1>{{ title }}</h1>
        <br>
        <div>
        </div>

        <button class="btn" *ngIf="this.repository.listReady == false">
            <span class="spinner-border spinner-border-sm"></span>
            Loading...
        </button>

        <div class="table-responsive" *ngIf="this.repository.listReady == true">
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">Description</th>
                    <th class="text-center"></th>
                </tr>

                    <tr *ngFor="let item of productsList">
                        <td class="text-center"> <a [routerLink]="['/products/edit/', item._id]">{{ item.name }}</a></td>
                        <td class="text-center"> {{ item.category }} </td>
                        <td class="text-center"> {{ item.description }} </td>
                        
                        <!-- <td class="text-center">
                            
                            <input type="checkbox" class="form-check-input" 
                            id="activeField" name="Active" [(ngModel)]="item.isactive"
                            >
                                                      
                        </td> -->
                        <!-- <td class="text-center">
                            <button [routerLink]="['/products/edit/', item._id]" class="btn bg-primary btn-primary btn-sm">
                                <i class="fas fa-pencil-alt" ></i></button>
                        </td>
                        <td class="text-center">
                            <a (click)="deleteMethod(item._id)" class="btn bg-danger btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i></a>
                        </td>
                        <td class="text-center">
                            <a (click)="showDetails(item._id)" class="btn bg-danger btn-danger btn-sm">
                                <i class="fas fa-comment-alt"></i></a>
                            <button [routerLink]="['prod/details/', item._id]" class="btn bg-info btn-primary btn-sm">
                              <i class="fas fa-comment-alt"> Inquire</i>
                            </button>
                          </td> -->
                    </tr> 
            </table>
        </div>
    </div>
  </main>
<app-footer></app-footer>