<app-header [title]="title"></app-header>

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <h1>{{ title }}</h1>
        <br>
        <div></div>
        <button class="btn" *ngIf="this.repository.listReady == false">
            <span class="spinner-border spinner-border-sm"></span>
            Loading..
        </button>

        <div class="table-responsive" *ngIf="repository.listReady">
            <input type="hidden"
            name="id"
            [(ngModel)]="product._id"
        >
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">Product Name</th>
                                  
                    <th class="text-center" colspan="2">Actions</th>              
                </tr>
        
                <!-- Repeatable Template Row -->
                <tr *ngFor="let qapair of qaPairs">
                    <p class="text-center">Question</p>
                       
                    <p class="text-center">{{ qapair.question }}</p>
                    <p class="text-center">Answer</p>
                    <p class="text-center">{{ qapair.answer }}</p>
                    
                    <td class="text-center">
                        <button [routerLink]="['questions/answers/']" class="btn bg-primary btn-primary btn-sm">
                            <i class="fa fa-a"></i></button>
                    </td>
                    <!-- <td class="text-center">
                        <a (click)="deleteQuestionMethod(qapair._id)" class="btn bg-danger btn-danger btn-sm">
                            <i class="fa fa-trash-alt"></i></a>
                    </td> -->
                </tr>
            </table>
        </div>
        
  
<app-footer></app-footer>