
  <main class="container mx-auto p-2 w-75 p-3">
    <div class="row">

        <div class="table-responsive" *ngIf="this.repository.listReady == true">
            <table class="table table-bordered table-striped table-hover" *ngFor="let query of questionList">
                <!-- Header Row-->
                <thead>
                    <th class="text-center"> <h3>QA</h3></th>
                </thead>
                <tr>
                    <td class="text-left"> {{ query.questionText }} </td>
                </tr>
                <tr>
                    <td class="text-left">Answer: {{ query.answer }}</td>
                </tr>
            </table>
        </div>
    </div>
  </main>