<app-header [title]="title"></app-header>
<div class="container">
    <br>
    <br>
    <div class="goal-description">
        <h1>Project Overview:</h1>
        <br>
        <p>Working in a group (up to 6 members) and utilizing your accumulated knowledge of the</p>
        <p>MEAN Stack (MongoDB, ExpressJS and NodeJS with AngularJS) create a Web App from one of the</p>
        <p>following type of projects (details below):</p>
        <ul>
            <li>Sell Used Products Site</li>
            <li>Another type of project previously approved.</li>
        </ul>
        <p>Your Web App must be hosted on a live site that supports a Node server.</p>
        <p>You will have core functionality requirements as well as specific criteria for your type of Web App.</p>
        <p>Full project description can be found <a href="https://drive.google.com/file/d/1Ri_hlclzpbmZ0XJ2Ug7NvsF__V0bKHpb/view?usp=sharing">here</a></p>
    </div>
    <br>
    <br>
    <div><h1>Who We Are:</h1></div>
    <div class="our-team">
        <div class="group-member">
            <h4>Kevin Lamanna</h4>
            <h6>UI Programmer</h6>
            <p></p>
            <p></p>
            <p><i class="fa-brands fa-github contact-icon"></i>Github: <a href="https://github.com/Kevin-Lamanna/" style="color: white;">https://github.com/Kevin-Lamanna</a></p>
            <p><i class="fa-solid fa-envelope contact-icon"></i>Email: klamann1@my.centennialcollege.ca</p>
        </div>
        <div class="group-member">
            <h5>Mohammed Abdulsalam</h5>
            <h6>Database Programmer</h6>
            <p></p>
            <p><i class="fa-brands fa-github contact-icon"></i>Github: <a href="https://github.com/cyberrebelx" style="color: white;">https://github.com/cyberrebelx</a></p>
            <p><i class="fa-solid fa-envelope contact-icon"></i>Email: mabduls4@my.centennialcollege.ca</p>
        </div>
        <div class="group-member">
            <h4>Sergio Pineda</h4>
            <h6>Lead Software Engineer</h6>
            <p></p>
            <p><i class="fa-brands fa-github contact-icon"></i>Github: <a href="https://github.com/SergioAPineda/" style="color: white;">https://github.com/SergioAPineda</a></p>
            <p><i class="fa-solid fa-envelope contact-icon"></i>Email: spinedas@my.centennialcollege.ca</p>
        </div>
    </div>
    <br>
    <br>
</div>
<app-footer></app-footer>