<div class="container">
      
    <!-- <div class="title-section">
        <h1 class="page-title">{{ title }}</h1>
         <p>Welcome to {{ title }}!</p> -->
    <!-- </div>  -->
</div>
<app-header [title]="title"></app-header>
<div *ngIf="{title: 'Home'}" id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="../../assets/pexels_image1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="../../assets/pexels_image2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="../../assets/unsplash_image1.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> 

  <div class="container">
        <div class="main-content">
        <!-- <h1>{{ title }}</h1> -->
        <!-- <p>Welcome to {{ title }}!</p> -->
            <h1>Our Top Picks</h1>
            <p></p>
            <h6>Shop for the best vintage items here at the best prices - we have you covered.</h6>
            <p></p>
            <div class="top-picks container">
              <a href=""><img class="pick-item" src="https://zajo.bwcdn.net/media/2022/06/1/4/sk-sven-t-shirt-ss-14441.jpg" alt="Shirt" width="200rem" height="200rem"></a>
              <a href=""><img class="pick-item" src="https://m.media-amazon.com/images/I/51TMoXm9uSL._AC_UY1100_.jpg" alt="Turtleneck" width="200rem" height="200rem"></a>
              <a href=""><img class="pick-item" src="https://m.media-amazon.com/images/I/81qSp-WA9nL.jpg" alt="Dell G15 Gaming Laptop" width="200rem" height="200rem"></a>
              <a href=""><img class="pick-item" src="https://m.media-amazon.com/images/I/71aARXewm6L.jpg" alt="Keyboard" width="200rem" height="200rem"></a>
            </div>
            <div class="view-all-btn">
                <button-component></button-component>
            </div>
        </div>
  </div> 

<app-footer></app-footer>