<app-header [title]="title"></app-header>

<div class="container">
  <div class="d-inline-flex justify-content-around" *ngFor="let item of productsList">

    <div class="p-2 flex-fill shadow-sm p-3 mb-5 bg-body-tertiary rounded gap-3">

      <div class="card" style="width: 18rem;">
        <img src="../../assets/{{ item.name }}.jpg" class="card-img-top" alt="{{ item.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.description }}</p>
          <!-- <a href="http://localhost:4200/prod/details/{{ item._id }}" class="btn btn-primary"></a> -->
          <button [routerLink]="['prod/details/', item._id]" class="btn btn-primary">
            Details
          </button>
        </div>
      </div>
    </div>

  </div>

  <app-footer></app-footer>