
<!-- Content for the Modify page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1>{{ title }}</h1>

            <!-- <form class="form" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="{{ contact._id }}"
                    >
                    <label for="nameTextField">Name</label>
                    <input type="text" class="form-control"
                        id="nameTextField"
                        placeholder="Enter the contact name"
                        name="name" 
                        value="{{ contact.name }}"
                        required>
                </div>
                <div class="form-group">
                    <label for="numberTextField">Phone Number</label>
                    <input type="text" class="form-control"
                        id="numberTextField"
                        placeholder="Enter a contact number"
                        name="number" 
                        value="{{ contact.number }}"
                        >
                </div>
                <br />
               
                <div class="form-group">
                    <label for="emailTextField">Email</label>
                    <input type="email" class="form-control"
                        id="emailTextField"
                        placeholder="example@mail.com"
                        name="email" 
                        value="{{ contact.email }}"
                        required>
                </div>
                              
                <br/>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                
                <a href="/business/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form> -->
        </div>

    </div>
</div>