<app-header [title]="title"></app-header>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1>Edit User</h1>

            <form novalidate #form="ngForm" (ngSubmit)="update(form)" *ngIf="loggedUser._id != null">
                <div class="form-group">
                    <input type="hidden" name="id" [(ngModel)]="user._id">
                    <label>First Name</label>
                    <input type="text" name="firstName" [(ngModel)]="user.firstName" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Last Name:</label>
                    <input type="text" name="lastName" [(ngModel)]="user.lastName" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="email" name="email" [(ngModel)]="user.email" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Username:</label>
                    <input type="text" name="username" [(ngModel)]="user.username" class="form-control" />
                </div>
                <br />
                <div class="form-group">
                    <label >Admin</label>
                    <input type="checkbox" class="form-check-input" id="activeField" name="admin"
                        [(ngModel)]="user.admin">
                </div>
                <br />

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i>
                    Submit
                </button>

                <a href="#" routerLink="/users/userlist" class="btn btn-warning">
                    <i class="fas fa-undo"></i>
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>

<app-footer></app-footer>