  <!-- Main Nav bar  -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand logo" href="#">
      <img src="assets/EXPDEVS_logo1.png" alt="logo" style="width:12rem; border-radius: 5px;">
    </a>
    
    <!-- Links -->
    <ul class="navbar-nav nav-items">
      <li class="nav-item">
        <!-- <% if (title == "Home") { %> -->
        <a class="nav-link" [class.active]="title == 'Home'" href="/">
        <!-- <% } else { %> -->
            <!-- <a class="nav-link" href="/"> -->
        <!-- <% } %>             -->
            <i class="fas fa-home"></i> Home 
        </a>
      </li>
      <li class="nav-item">
        <!-- <% if (title == "Projects") { %> -->
            <!-- <a class="nav-link active" href="/projects"> -->
        <!-- <% } else { %> -->
        <a class="nav-link" [class.active]="title == 'Projects'" href="/projects">
        <!-- <% } %>             -->
          <i class="fas fa-project-diagram"></i> Projects 
        </a>
      </li>
      <li class="nav-item">
        <!-- <% if (title == "About") { %>
            <a class="nav-link active" href="/about">
        <% } else { %> -->
        <a class="nav-link" [class.active]="title == 'About'" href="/about">
        <!-- <% } %>             -->
            <i class="fas fa-home"></i> About 
        </a>
      </li>
      <li class="nav-item dropdown">
        <!-- <% if (title == "Inventory List" || title == "Add a new Item") { %> -->
        <a *ngIf="title == 'Inventory List' || title == 'Add a new Item'; else deactiveList"
            class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            <i class="fa-solid fa-barcode"></i> Inventory
        </a>
        <!-- <% } else { %> -->
        <ng-template #deactiveList>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            <i class="fa-solid fa-barcode"></i> Inventory
          </a>
        </ng-template>
        <!-- <% } %>        -->
        <ul class="dropdown-menu">
          <!-- <li><a class="dropdown-item" href="/inventory/list">Inventory List</a></li>
          <li><a class="dropdown-item" href="/inventory/add">Add a new Item</a></li> -->
          <li>
            <a class="dropdown-item" routerLink="/inventory/list">
              <i class="fa-regular fa-rectangle-list"></i> 
              Inventory List
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/inventory/add">
              <i class="fa-solid fa-square-plus"></i>
              Add a new Item
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <!-- <% if (title == "Users") { %> -->
            <!-- <a class="nav-link active" href="/users"> -->
        <!-- <% } else { %> -->
            <a class="nav-link" [class.active]="title == 'Users'" href="/users">
        <!-- <% } %>             -->
            <i class="fas fa-user"></i> Users 
        </a>
      </li>
      <li class="nav-item">  
        <!-- <% if (typeof userName == 'string' && userName) { %>
          <a class="nav-link" href="/users/signout" onclick="return confirm('Are you sure?')">Sign Out (<%= userName %>)</a>
        <% } else { %>
          <a class="nav-link" href="/users/signin">Signin</a>
        <% } %>             -->
          <!-- <a *ngIf="auth.username != null" class="nav-link" routerLink="" (click)="logout()">Sign Out ({{ auth.username }})</a>
          <a *ngIf="auth.username == null" class="nav-link" routerLink="/users/signin">Signin</a> -->
      </li> 
      
    </ul>
  </nav>