
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <a class="navbar-brand logo" href="#">
    <img src="assets/EXPDEVS_logo1.png" alt="logo" style="width:12rem; border-radius: 5px;">
  </a>

  <ul class="navbar-nav nav-items">
    <li class="nav-item">
      <a class="nav-link" [class.active]="title == 'Home'" href="/">

        <i class="fas fa-home"></i> Home
      </a>
    </li>
    <li *ngIf="auth.username != null" class="nav-item dropdown">

      <a *ngIf="title == 'Products List' || title == 'Add a new Item'; else deactiveList"
        class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
        <i class="fa-solid fa-barcode"></i> Products
      </a>

      <ng-template #deactiveList>
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
          <i class="fa-solid fa-barcode"></i> Products
        </a>
      </ng-template>

      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" routerLink="products/list">
            <i class="fa-regular fa-rectangle-list"></i>
            Products List
          </a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="products/:mode">
            <i class="fa-solid fa-square-plus"></i>
            Add a new Item
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="title == 'Users'" href="/users/userlist">
        <i class="fas fa-user"></i> Users
      </a>
    </li>
    <li class="nav-item">
      <a *ngIf="auth.username != null" class="nav-link" routerLink="" (click)="logout()">Sign Out ({{ auth.username
        }})</a>
      <a *ngIf="auth.username == null" class="nav-link" routerLink="/users/signin">Signin</a>
    </li>
  </ul>
</nav>