/* You can add global styles to this file, and also import other style files */

.logo {
    margin: 1.5rem;
}

.footer-text {
    margin: 1rem;
}

.nav-items {
    margin-left: 1rem;
}

.nav-item {
    padding-left: 0.5rem;
}

.main-content {
    margin-top: 1.7rem;
    margin-bottom: 3rem;
    text-align: center;
    justify-content: center;
}

.title-section {
    margin-top: 2rem;
    margin-bottom: 3rem; 
}

.page-title {
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.view-all-btn {
    padding: 1.2rem 2.5rem 1.2rem 2.5rem;
}

.top-picks {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.inquire-btn {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.inquire-btn:disabled {
  pointer-events: none;
}

.inquire-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.inquire-btn:active {
  box-shadow: none;
  transform: translateY(0);
}


/* #carouselExample{
    
    .carousel-item {
        height: 85vh;
    }
    
} */